
.logo {
  height: 80px !important;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #24ff07aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.navbar{
  background-color: #FEF0E0;
  border-bottom: 2px solid #F9423A; 
}
.navbar-expand-lg .navbar-collapse{
  display: flex;
  justify-content: center;
}
a.nav-link {
  color: #ffffff;
}
.active{
  color:#6AB32D !important;
  font-size: 18px !important;
  text-decoration: none;
  font-weight: 600;
}
.imagen-detalle{
height: auto;
width: 250px !important;
display: block;
margin: 0 auto;
}
li.nav-item {
  padding: 0px 5px !important;
  font-family: 'ASM' !important;
}
.pending{
  color: #F94239 !important;
  font-size: 18px !important;
  text-decoration: none;
  font-weight: 600;
}
.pending:hover{
  color:#6AB32D !important;
}
.item-detail{
  padding: 0px 0px 50px 0px;
}
.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x) !important;
  margin-bottom: 0 !important;
  color: var(--bs-card-cap-color) !important;
  background-color: rgb(255 255 255 / 3%) !important;
  border-bottom: var(--bs-card-border-width) solid rgb(250 250 250 / 18%) !important;
}
.card {
  --bs-card-border-color: rgb(182 182 182 / 18%) !important;}
  
.w-50{
  display: block;
  margin: 0 auto;
}
a.nav-link:hover {
  color: #6AB32D;
}
a.boton-item {
  color:#ffffff;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: 'ASM';
}
.btn-primary{
  font-family: 'ASM' !important;
}
#item-detail{
  padding: 50px 0px;
}
.hide  {
  display: none ;
}
.show {
display:block;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #6AB32D !important;
 
}
.svg{
  width: 40px;
  height: auto;
}
.car-widget{
  position: relative;
  color: #ffffff;
  height: 70px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.content-car{
  left: 0 !important;
  width: 20px;
  margin-top: 20px;
  position: absolute;
  z-index: 300;
}
.text-price{
  text-align: right;
}
.numero{
  text-align: center;
}
.number-car{
  background-color: #F9423A;
  border-radius: 50%;
  padding: 9px 12px;
  height: 40px;
  width: 40px;
  z-index: 0;
  position: absolute;
  right: 0;
}

.saludo{
  font-size: 25px;
}
.item-list{
  margin:5px;
  background: #d3d3d3;
  padding:20px;
  font-size: 20px;
}
#item-list-container{
padding: 50px 0px;
}
.item-list-container{
  padding: 50px 0px;
  }
.mensaje-item{
  font-size: 20px;
}
button.navbar-toggler {
  background: #fff;
}
.contenedor-cart {
  background: #6ab32d;
  border-radius: 50%;
  padding: 8px;
}
.boton-item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-content: center;
   justify-content: center;
   font-family: 'ASM';
}
.numero-item{
  display: grid;
  align-content: center;
  margin-bottom: 0px;
}
.botones-item{
  margin: 10px 0px;
  font-family: 'ASM';
}
.item{
  display: flex;
  justify-content: center;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#error{
  padding: 50px 0px;
}
#error h1 {
  font-size: 20px;
  text-align: center;
}
.player{
  height: 400px !important; 
  width: 400px !important;
}
.boton{
  color:#000000 !important;
  font-size: 15px !important;
  text-transform: lowercase !important;
  font-family: 'ASM';
}

.boton-count{
  color:#000000 !important;
  font-size: 15px !important;
  text-transform: lowercase !important;
  font-family: 'ASM';
  margin-right: 10px;
}
.boton-rojo{
  color:#ffffff !important;
  font-size: 15px !important;
  text-transform: lowercase !important;
  font-family: 'ASM' !important;
  margin-right: 10px;
  background-color: #F9423A !important;
  display: block !important;
  margin: 0 auto !important;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}

.count{
  margin-right: 10px; 
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #D9EB61 !important;
  --bs-btn-border-color: #D9EB61 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #D9EB61 !important;
  --bs-btn-hover-border-color: #D9EB61 !important;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #D9EB61 !important;
  --bs-btn-active-border-color: #D9EB61 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #D9EB61 !important;
  --bs-btn-disabled-border-color: #D9EB61 !important;
}
.titulo-detail{
  font-family: 'Roboto' !important;
  font-size: 20px !important;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 20px;
}
.card-header {
 margin: 0px !important;
 padding: 0px !important;
}
.card-detalle{
  padding: 50px 0px;
  background-color: #FEF0E0!important;
}
.presentacion{
  width: 100%;
  height: 600px;
  background-image: url(../src/img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;

}
.logo-presentacion{
width: 400px;
height: auto;
padding: 20px;
display: block;
margin-top: 20px;
}

.cart{
  background-color: #FEDD03;
}
.card-registration{
background: #FEF0E0 !important;
border: 2px solid #F9423A !important;
}
.tit-cart{
  color:#F94239;
  font-family: 'ASM';
}
.subt-cart{
  color:#F94239;
  font-family: 'ASM';
  text-align: right;
}
.name-detail{
  color:#F94239;
  font-family: 'ASM';
}
.total-text{
  color:#F94239;
  font-family: 'ASM';
  text-align: left;
}
.stock{
  color: #363636;
  font-size: 15px;
  font-weight: 600;
}
.precio{
  font-size: 25px;
}
.precio-detail{
  font-size: 25px;
}
.text-red{
  color:#F94239 !important;
}
.justify{
  text-align: justify;
}
.text-form{
  color: #FEEFE0;
  font-family: 'ASM';
  padding-bottom: 20px;
}
.text-green{
  color: #2E4303;
  font-family: 'ASM';
  font-size: 15px;
}
.no-underline{
  text-decoration: none !important;
}
hr.my-4 {
  color: #F94239 ;
}
.footer{
  background-color: #804E8F;
}
.columna-footer{
  padding: 0px !important;
}
.logo-footer{
  width: 200px;
}
.footer-list{
  list-style: none;
  color: #ffffff;
  padding-left: 0rem !important;
}
.footer-list .pending {
  color: #ffffff !important;
  text-align: center;
  font-size: 20px !important;
}
.footer-list .active {
  font-size: 20px !important;
  color: #D8EA61 !important;
}
.footer-list li.nav-item {
  text-align: center !important;
  
}
.tit-footer{
  color: #ffffff !important;
  text-align: center !important;
  font-size: 30px !important;
  font-family: 'ASM';
}
.borde-footer{
  width: 100%;
  height: auto;
}
#error h1{
  color:#2E4303;
  font-family: 'ASM';
}

 .carrito-vacio p{
  color:#ffffff;
  font-family: 'ASM';
  font-size: 25px !important;
  text-align: center;
 }
 .carrito-vacio {
  padding: 100px 0px;
  background-color: #00B1E3;
 }

  .btn-primary {
    --mdb-btn-bg: #D8EA61 !important;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #D8EA61 !important;
    --mdb-btn-hover-bg: #D8EA61 !important;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #D8EA61 !important;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #D8EA61 !important;
    --mdb-btn-active-color: #fff;
    --mdb-btn-disabled-border-color: #D8EA61 !important;
    --mdb-btn-active-border-color: #D8EA61 !important;
    --mdb-btn-disabled-bg: #D8EA61 !important;
}

.btn-primary:focus {
  background-color: #D8EA61 !important; /* Cambia el color de fondo cuando el botón está enfocado (ya no está activo) */
}
.anuncio{
  font-family: 'ASM';
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #804E8F;
}
.form-web{
  padding: 50px 0px;
}
 #checkout{
  padding: 100px 0px;
  background-color: #ffffff;
}

/* Fondos */
.home-background {
  background-color: #ffffff; 
  padding: 0px !important;
}

.product-background {
  background-color: #FEEFE0; 
  padding: 0px !important;
}

.category-background {
  background-color: #ffffff; 
  padding: 0px !important; 
}
.cart-background {
  background-color: #FEDD03; 
  padding: 0px !important;
}
.cart-vacio{
  background-color: #01b0e3; 
  padding: 0px !important;
}
.form{
  background-color: #804E8F;
  margin-bottom: 50px;
  border-radius: 20px;
}
.return{
  padding-bottom:0px ;
  text-align: left;
}
.img-cart{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: transparent;
}
.remove-item{
  background-color: #6AB32D;
  border: 8px solid #6AB32D;
  border-radius: 20px;
}
.img-background{
  background-color: transparent;
  border-radius: 20px;
  margin-bottom: 0px;
}
/* mediaqueries  */

@media (max-width: 1200px) {
  .tit-cart {
    font-size: 25px;
  }
  
}

@media (max-width: 991px) {
  .img-background{
    background-color: #ffffff;
   margin-bottom: 20px;
  }
  .logo-footer {
    display: block;
    margin: 0 auto;
}
.redes-footer {
  width: 50%;
  margin: 0 auto;
  display: block;
}
.return{
  padding-bottom:20px ;
}
h1 {
  font-size: 20px !important;
}
.img-cart{
  width: 300px;
  height: auto;
}


}

@media (max-width: 767px) {
  .p-5 {
    padding: 1rem!important;
}

.tit-cart {
  text-align: center !important;
}

.text-black{
text-align: center;
padding-bottom: 20px;
}
.redes-footer {
  width: 90%;
}
.subt-cart{
  text-align: center;
  font-size: 20px;
}
.total-text {
  font-size: 20px;
  display: block;
}

}